<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ if .IsPage }}{{ .Params.htmltitle }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}code for objective-c and swift{{ end }}" />
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Permalink }}" rel="canonical" />
  <link href="{{ .Site.BaseUrl }}/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseUrl }}/css/hc.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/prism.css" rel="stylesheet" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif] d-->
    </head>
    <body>
      <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a><span class="navbar-icon"><a href="https://twitter.com/objctoswift"><i class="fa fa-twitter-square"></i></a></span><span class="navbar-icon"><a href="https://github.com/nickoneill/thatthinginswift"><i class="fa fa-github-square"></i></a></span><span class="navbar-icon"><a href="/index.xml"><i class="fa fa-rss-square"></i></a></span></p>
    </div>
  </div>
</div>
<div class="treat">
  <div class="treat-inner">
      <p><a href="https://gettre.at/" title="treat, mobile gift cards"><img width="36" height="36" src="/images/treat.png" alt="treat icon" /></a>&nbsp;&nbsp;Hey you! Want to see what we've built with Swift? Try our app <a href="https://gettre.at/" title="treat, mobile gift cards">treat, mobile gift cards that don't suck</a>.</p>
  </div>
</div>

<div class="container">
